{% extends "layout.html" %}
{% block body %}
<h2>Hakkimizda</h2>
<hr>
<div class="jumbotron">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore sed debitis error? Repellat, aspernatur explicabo porro temporibus nihil amet neque quidem quos! Alias libero unde quibusdam natus soluta tempora quo. <br> 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi non excepturi officia illum ex est eligendi quis ipsum voluptatem earum! Ratione eligendi aperiam minima vero mollitia minus illum. Aspernatur, pariatur!</div>
<hr>
{% endblock %}