{% extends "layout.html" %}
{% block body %}
<h2>Ana Sayfa</h2>
<hr>
<div class="container jumbotron">
    <div class="row">
    <div class="col-md-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nam soluta officia vel explicabo nihil blanditiis tempore, animi adipisci exercitationem, excepturi veritatis, earum corrupti! Minima, fugiat enim. Odit, itaque magnam. <br>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat commodi, voluptate beatae expedita, veniam quae nemo nesciunt, animi incidunt quibusdam et neque laudantium sapiente laboriosam iusto eligendi. Necessitatibus, quas itaque! <br>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit officia assumenda earum dolorem laborum eveniet libero a nulla, vitae quam dicta vero animi nam porro ipsam omnis saepe fuga soluta?</div>
    <div class="col-md-6"><img src="/images/hastane.jpg"  height="300" width="500" alt=""></div>
    </div>
    </div>
<hr>
{% endblock %}